body {
    background: lightgray;
    text-align: center;
}

table, th, td {
    border: 1px solid;
}

table {
    margin: auto;
}

td {
    width: 70px;
    height: 70px;
    background-color: white;
}
